<ng-container *ngIf="showNavbar">
  <aw-navbar class="fade-in"></aw-navbar>
</ng-container>

<div class="fade-in-fast" [ngClass]="{ 'show-navbar': showNavbar }">
  <!-- title -->
  <aw-view-title *ngIf="showPageTitle" [pageTitle]="pageTitle"></aw-view-title>
  <!-- end title -->

  <!-- content page -->
  <div [ngClass]="cssContent" class="pt-4">
    <ng-container *ngIf="showSidebar">
      <!-- <aw-sidebar></aw-sidebar> -->
    </ng-container>

    <ng-content></ng-content>
  </div>
  <!-- end content page -->
</div>
